!!! 5
%html
  %head
    %title #{app_name}
    = csrf_meta_tag
    /[if lt IE 9]
      = javascript_include_tag 'html5'
    = stylesheet_link_tag 'compiled/screen'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Geo'
    = javascript_include_tag :defaults
  %body.pironimo-main.bp
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
    = yield
  